.top-bottom {
  position: relative;
  min-height: 100vh;
  background-color: #f5f5ed;
}
.content {
  padding-bottom: 2.5rem;
}
.header {
  display: flex;
  background-color: #d1c24f;
  width: 100vw;
  height: 44px;
  justify-content: space-evenly;
}
.nav-expander-button {
  display: none;
}
.footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  display: flex;
  background-color: #d1c24f;
  width: 100%;
  justify-content: space-evenly;
}
.main-body {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}
.sidebar-main {
  color: #696965;
  width: 30%;
  background-color: white;
}
.sidebar-mobile {
  color: white;
  position: absolute;
  height: 85vh;
  width: 220px;
  padding: 5% 0% 0 1%;
  background-color: #d1c24f;
  z-index: 1;
  animation-name: sidebar-slide;
  animation-duration: 100ms;
}
.sidebar-mobile .icon {
  color: white;
}
@keyframes sidebar-slide {
  from {
    width: 0px;
  }
  to {
    width: 220px;
  }
}
.sidebar-ul {
  padding: 20px 0px 20px 0px;
  border-top: 1px solid #d1c24f;
  margin-top: 15vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sidebar-li {
  padding: 7px 0px 6px 0px;
  margin-left: 0;
  font-size: 23px;
  list-style-type: none;
  margin: 7px 0px 7px 0px;
  letter-spacing: 2px;
  padding: 8px;
}
.sidebar-li-selected {
  padding: 7px 0px 6px 0px;
  margin-left: 0;
  font-size: 24px;
  list-style-type: none;
  margin: 7px 0px 7px 0px;
  letter-spacing: 2px;
  padding: 8px;
  background-color: #f0f0df;
}
.sidebar-li:hover {
  background-color: #f0f0df;
}
.icon {
  color: #d1c24f;
  margin-right: 6px;
  padding-top: 1px;
}
.content {
  background-color: #f5f5ed;
}
.items-area {
  border-left: 1px solid #d1c24f;
  padding: 1%;
}
.text-holder {
  max-width: 900px;
  padding: 5px 0 2% 0;
  margin-bottom: 5px;
  background-color: #f5f5ed;
  box-shadow: #f0f0df;
  border: 1px thin gold;
  border-radius: 20px;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
  margin: 5px;
  margin-bottom: 8px;
}
/* text area styles */
.input-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1% 3% 3% 0;
}
.singleton {
  padding: 1%;
}
.double {
  padding: 1%;
}
textarea {
  padding: 2%;
  font-size: 14px;
}
.text-content > textarea {
  height: 6vh;
}
textarea {
  height: 30px;
  width: 100%;
  border-radius: 15px;
  outline: none;
  border: none;
  font-size: 16px;
  overflow: hidden;
  resize: none;
}
/* textarea */
.note-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1% 0% 1% 0%;
}
.note-card {
  background-color: white;
  padding: 2% 2% 3% 2%;
  border: 1px solid none;
  width: 28%;
  border-radius: 10px;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  color: #696965;
  margin: 2px;
  margin-top: 4px;
  margin-top: 4px;
}
.note-card :first-child {
  font-weight: 600;
  font-size: 16px;
}
.note-card :nth-child(2) {
  font-size: 14px;
}
.note-card:hover {
  box-shadow: 0 9px 17px 0 rgb(0, 0, 0, 0.6);
}
.card-buttons > button {
  border: none;
  background-color: white;
  outline: none;
  color: #696965;
}
.card-buttons > button :hover {
  border-radius: 1px;
  background-color: #f2f2e1;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2s);
  color: #696965;
}
.clean-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #f0f0c7;
  border: none;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  width: 14%;
  margin: 3px 2% 0 0;
  height: 30px;
  outline: none;
  color: #696965;
}
.App-link {
  color: #09d3ac;
}
@media only screen and (min-width: 1280px) {
  .sidebar-main {
    color: #696965;
    width: 250px;
    background-color: white;
  }
}
@media only screen and (min-width: 958px) {
  .sidebar-main {
    color: #696965;
    width: 30%;
    background-color: white;
  }
  .note-card {
    width: 45%;
  }
}

@media only screen and (max-width: 610px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header > img {
    margin-right: 5px;
  }
  .note-holder {
    border: 1px solid red;
    width: 100%;
  }
  .note-card {
    width: 45%;
  }
  .body-main {
    display: none;
  }
  .header-text {
    display: none;
  }
  .items-area {
    border-left: none;
    padding: 1px;
    width: 100vw;
  }
  .sidebar-main {
    width: 25%;
    display: none;
  }
  .nav-expander {
    display: block;
    font-size: 30px;
    padding: 7px;
    font-size: 30px;
    padding: 7px;
  }
  .nav-expander-button {
    background: none;
    outline: none;
    border: none;
    display: block;
  }
}
@media only screen and (max-width: 400px) {
  .note-holder {
    display: flex;
    flex-direction: column;
  }
  .note-card {
    width: 90%;
    margin: 3%;
  }
}
@media only screen and (min-width: 1200px) {
  .text-holder {
    margin-left: 25%;
    margin-right: 25%;
  }
  .sidebar-main {
    color: #696965;
    width: 35%;
    background-color: white;
  }
  .note-card {
    margin: 0.5%;
    width: 20%;
  }
}
.items-area {
  width: 100vw;
}
